<!DOCTYPE html>
{% autoescape false %}

<html>


<head>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/movie_detail_style.css?v=1"> -->
	<link type="text/css" rel="stylesheet" href="/stylesheets/font_family.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/main_header.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/base_document.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/main_body.css" />

    <link type="text/css" rel="stylesheet" href="/stylesheets/demo.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/style.css" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <title>ข้อมูลหนัง</title> -->
	<title>About</title>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>

</script>
</head>


<body>	
{% include "/main_header.html" with context %}




<script>
</script>

{% include "/main_footer.html" with context %}

</body>

</html>
{% endautoescape %}