<!DOCTYPE html>
{% autoescape true %}
<html>
<!-- 
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
 --> 
    <head>
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script>
        function myFunction(movie_id, unix_timestamp) {
          var d = new Date(unix_timestamp*1000);
          var curr_date = d.getDate();
          var curr_month = d.getMonth();
          curr_month++;
          var curr_year = d.getFullYear();
          var converted_time =  curr_date + "/" + curr_month + "/" + curr_year;
          $('#time_stamp_div'+movie_id).text(converted_time+'');
        }  

      </script>
    </head>
    <div>
      <h4>NookMai.com</h4>
    </div>
    {% for movie in movie_list %}
		<table border="0">
			<tr>
  				<td>
  					<div>
						<a href="/nextview?movie_id={{ movie.id }}">
							<img border="0" src="/image?movie_id={{ movie.id }}" width="164" height="248">
						</a>  						
  					</div>
<!-- 					<div id="menu" style="background-color:#FFD700;height:200px;width:100px;float:left;"> -->
					<div style="text-align:center;">
  						{{ movie.release_time_text }}
  					</div>
  				</td>
  				<td style="float:left;">
  					<div>
	  					<a href="/nextview?movie_id={{ movie.id }}">
  							<b>{{ movie.name_en }}</b>
  						</a>
            </div>
            <div id='time_stamp_div{{movie.id}}'</div>
            <script>
              var movie_id = {{movie.id}};
              var unix_timestamp = {{movie.release_time_timestamp}};
              myFunction(movie_id, unix_timestamp);
            </script>
            <div>
              {{movie.duration}} นาที
            </div>
  				</td>
			</tr>
		</table>
    {% endfor %}

	
<!-- 
    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
 -->

</html>
{% endautoescape %}