<!DOCTYPE html>
{% autoescape true %}
<html>

<head>
<title>TEST</title>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
</head>

<!-- 
    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname() }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content }}</blockquote>
    {% endfor %}
 -->

<table border="0">
	
	
	<div style="text-align:center;">
	<h1 class="title">
		<strong>{{ movie_data.name_en }}</strong>
		<br>
		<span>{{ movie_data.name_th }}</span>
	</h1>
	</div>
	
	
	<div style="text-align:center;">
		<a href="/nextview?movie_id={{ movie_data.id }}">
		<img border="0" src="{{ movie_data.image }}" width="164" height="248">
		</a>
	</div>
	 
	 	
	<div id="movie-content" style="text-align:center;">
	<h3>วันที่ข้าฉาย</h3>
	<p>{{ movie_data.release_time_text }}</p>
	<h3>เรื่องย่อ</h3>
	<strong>{{ movie_data.detail_synopsis_th }}</strong>
	</p>
	</div>
	
	<div>
	<center>
	<iframe id="youtube_frame" width="560" height="315" src="{{ movie_data.youtube_url }}" frameborder="0" allowfullscreen style="display:none;"></iframe>
	<script>
		{% if not movie_data.youtube_url %}
			$.getJSON( "/trailer?movie_id={{ movie_data.id }}", function(data) { 
				var youtube_link = "//www.youtube.com/embed/"+data['videoId'];
				//alert(youtube_link);
				$("#youtube_frame").get(0).contentWindow.location.replace(youtube_link);
				//$("#youtube_frame").attr("src", youtube_link);
				$("#youtube_frame").show(500);
			});
		{% else %}
			$("#youtube_frame").show();
		{% endif %}
	</script>
	
	
	</center>
	</div>
	
	
	<div style="text-align:center;">
	<form action="/comment?movie_id={{ movie_data.id }}" method="post">
    <div>
    <textarea name="content" rows="3" cols="60">
    </textarea>
    </div>
    
    <div><input type="submit" value="Comment"></div>
    </form>
    </div>
    
    
    <table style="min-height:200px; display:block;">
</table>

	
<!-- 
    <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Sign Guestbook"></div>
    </form>

    <hr>

    <form>Guestbook name:
      <input value="{{ guestbook_name }}" name="guestbook_name">
      <input type="submit" value="switch">
    </form>

    <a href="{{ url|safe }}">{{ url_linktext }}</a>
 -->

</html>
{% endautoescape %}