<!DOCTYPE html>
{% autoescape true %}

<html>
<!-- <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> -->
<head>
	<title>ข้อมูลหนัง</title>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<!-- 	<style type="text/css">
  		body {
    		color: purple;
    		background-color: #d8da3d }
  	</style> -->
</head>
	

<body>	
	<h1 class="title" style="text-align:center;">


		<strong>{{ movie_data.name_en }}</strong>
		<br>
		<span>{{ movie_data.name_th }}</span>
	</h1>
	
	
	<div style="text-align:center;">
		<a href="/nextview?movie_id={{ movie_data.id }}">
		<img border="0" src="/image?movie_id={{ movie_data.id }}" width="164" height="248">
		</a>
	</div>
	 
	 	
	<div id="movie-content" style="text-align:center;">
		<h3>วันที่เข้าฉาย</h3>
		<p>{{movie_data.release_time_timestamp|covertUnixTimeToStrFotmat('%d/%m/%Y')}}</p>
		<h3>เรื่องย่อ</h3>
		<!-- <div width="500"><strong>{{ movie_data.detail_synopsis_th }}</strong></div> -->
		<strong>{{ movie_data.detail_synopsis_th }}</strong>
		</p>
	</div>
	
	<div style="text-align:center;">
		<iframe id="youtube_frame" width="560" height="315" src="{{ movie_data.youtube_url }}" frameborder="0" allowfullscreen style="display:none;"></iframe>
		<script>
			{% if not movie_data.youtube_url %}
				$.getJSON( "/trailer?movie_id={{ movie_data.id }}", function(data) { 
					var youtube_link = "//www.youtube.com/embed/"+data['videoId'];
					$("#youtube_frame").get(0).contentWindow.location.replace(youtube_link);
					$("#youtube_frame").show(500);
				});
			{% else %}
				$("#youtube_frame").show();
			{% endif %}
		</script>
	</div>
	

	<br/>
	<br/>
	<br/>
	
	
	<div style="text-alaign:center;">
		<form action="javascript:submitComment();" method="post">
		<center>
	    <textarea id="comment_content" name="content" style="width:450px; height:100px;"></textarea>
    	<br>
    	<input id="comment_author" name="author" placeholder="name" style="width:450px" rows="1" cols="60"></input>


{% autoescape false %}
 		<script type="text/javascript">var RecaptchaOptions = {theme : 'clean'};</script>
		{{ captchahtml }}
{% endautoescape %}


    	<input type="submit" value="Comment"></div>
    	</center>
    	</form>
    </div>

	
	<div id="comments">
		<div><center><font size="20"><b>comment</b></font></center></div>
		{% for comment in comments %}
		<center>
		<table width="500" border="1" cellpadding="0" cellspacing="5" bordercolor="#333333">
		<br/><br/>
	    <div>ข้อความ: {{ comment.content|decodeHTML }}</div>
	    <div>ชื่อ: {{ comment.author|decodeHTML }}</div>
	    <div>วันที่: {{ comment.date.strftime("%B %d, %Y") }} เวลา: {{ comment.date.strftime("%H:%M") }}</div>
		<br/><br/>
	    </table>
	    </center>
		{% endfor %}
	</div>

	<div id="footer" style="height: 200px;">
	</div>



<script>

/// qestion = "5+10=?"
/// answer = 'ddd'



	function submitComment() {
		var author = $("#comment_author").val();
		var content = $("#comment_content").val();
		var recaptcha_challenge_field = $('[name="recaptcha_challenge_field"]').val();
		var recaptcha_response_field = $('[name="recaptcha_response_field"]').val();

		var postData = {'movie_id':{{ movie_data.id }},
		 				'author':author,
		  				'content':content,
		  				'recaptcha_challenge_field':recaptcha_challenge_field,
		  				'recaptcha_response_field':recaptcha_response_field,
		  				};
		$.getJSON("/api_add_comment", postData, function(data) {

			if(data['success'] == 1){
				// TODO clear text all
				$('#comment_content').val("");
				Recaptcha.reload();
				// $('#doc_title').val("");
				// $('#doc_title').val("");

			 	setTimeout(updateComments,100);
			}else
			 	alert("The CAPTCHA you entered is invalid. Please try again");
		});

	}

	function updateComments() {
		$.getJSON("/api_get_comment", {'movie_id':{{ movie_data.id }}}, function(data) {
			//alert(data['data']);
			

			var clist = data['data'];
			var h = '';
			for (var i = 0; i < clist.length; i++) {
				var c = clist[i];
		    	var author = c['author'];
		    	var content = c['content'];
		    	var date = c['date'];
		    	var time_crate = c['time_crate'];
		    	h += '<center>';
		    	h += '<table width="500" border="1" cellpadding="0" cellspacing="5" bordercolor="#333333">';
		    	h += '<br/><br/>';
		    	h += '<div>ข้อความ:'+content+'</div>';
		    	h += '<div>ชื่อ:'+author+'</div>';
		    	h += '<div>วันที่:'+date+' เวลา:'+time_crate+'</div>';
		    	h += '<br/><br/>';
		    	h += '</table>';
		    	h += '</center>';
			}
			$('#comments').html(h);
		});
	}

</script>


</body>

</html>
{% endautoescape %}