<!DOCTYPE html>
{% autoescape true %}

<html>


<head>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/movie_detail_style.css?v=1">
	<link type="text/css" rel="stylesheet" href="/stylesheets/font_family.css" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/main_header.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/base_document.css" />
    <link type="text/css" rel="stylesheet" href="/stylesheets/main_body.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <title>ข้อมูลหนัง</title> -->
	<title>{{ movie_data.name_en|decodeHTML }}</title>
	<script src="//code.jquery.com/jquery-1.10.2.js"></script>

	<script type="text/JavaScript">
	function setsmile(what) {
	document.emotion.messages.value = document.emotion.elements.messages.value+" "+what;
	document.emotion.messages.focus();
	}
</script>
</head>


<body>	
{% include "/main_header.html" with context %}

	<!-- <h1 class="title" style="text-align:center;"> -->
<!-- 	<h1>
		<strong>{{ movie_data.name_en }}</strong>
		<br>
		<span>{{ movie_data.name_th }}</span>
	</h1> -->

<div class="movie-spece-0"></div>

	<!-- <div class="movie-title-image" style="width:900px; ">  -->
		<!-- clear:both; -->
		<!-- height:450px; -->

<!-- start bg -->
<div class="movie-bg">
<div class="movie-title-image" style="width:900px;">

	<div class="movie-image">
		<a href="/detail?movie_id={{ movie_data.id }}">
		<img border="0" src="/image?movie_id={{ movie_data.id }}" width="288" float:left>
		</a>
	</div>

	<div class="movie-title">
		<strong>{{ movie_data.name_en|decodeHTML }}</strong>
<!-- 		<strong>{{ movie_data.avatar_1_count }}</strong>
		<strong>{{ movie_data.avatar_2_count }}</strong>
		<strong>{{ movie_data.avatar_3_count }}</strong> -->

	</div>
			
	<div class="movie-date">
		<strong>{{ movie_data.detail_genre_en }} - {{movie_data.release_time_timestamp|covertUnixTimeToStrFotmat('%d %B %Y')}}</strong>
	</div>


	<div class="movie-synopsis-en">
		<strong>{{ movie_data.detail_synopsis_en|decodeHTML }}</strong>
	</div>


	<!-- <div class="movie-director" style="margin: auto; width:550px; height:86px; float:right; color:#666666;"> -->
	<div class="movie-director-writers-stars">
		<div class="movie-director-writers-stars-left">Director:</div>
		<div class="movie-director-writers-stars-right">{{ movie_data.detail_director_en|decodeHTML }}</div>
		<!-- <strong>Director:{{ movie_data.detail_director_en }}</strong> -->
	</div>


	<div class="movie-director-writers-stars">
		<!-- <strong>Writers:</strong> -->
		<div class="movie-director-writers-stars-left">Writers:</div>
		<div class="movie-director-writers-stars-right"></div>
	</div>


	<div class="movie-director-writers-stars">
		<div class="movie-director-writers-stars-left">Stars:</div>
		<div class="movie-director-writers-stars-right">{{ movie_data.detail_cast_en|decodeHTML }}</div>
		<script>
			// alert('wqdqwdqwd');
			// var str = {{ movie_data.detail_cast_en }}
			// var n = str.search(", ");

			// alert(str);
		</script>
		<!-- <strong>Stars:{{ movie_data.detail_cast_en}}</strong> -->
	</div>

</div>
<!-- </div> -->
<div class="movie-spece-1"></div>

<div class="movie-synopsis-th"> 
		<h2>เรื่องย่อ</h2>
		<p>
		<div style="color:#666666;">{{ movie_data.detail_synopsis_th|decodeHTML }}</div>
		</p>

		<div style="height: 40px;"></div>
		<iframe id="youtube_frame" src="{{ movie_data.youtube_url }}?autoplay=1&html5=1" frameborder="0" allowfullscreen style="display: none; width: 855px; height: 450px; margin: 0 auto; border: 0;"></iframe>
		<script>
		{% if not movie_data.youtube_url %}
			$.getJSON( "/trailer?movie_id={{ movie_data.id }}", function(data) { 
				var youtube_link = "//www.youtube.com/embed/"+data['videoId']+"?autoplay=1&html5=1";
					$("#youtube_frame").get(0).contentWindow.location.replace(youtube_link);
					document.getElementById("youtube_frame").onload = function() {
					$("#youtube_frame").show();
				};
			});
		{% else %}
			$("#youtube_frame").show();
		{% endif %}
		</script>
		<div style="height: 20px;"></div>
</div>

<!-- <div class="movie-spece-1"></div>

<div class="movie-artiste">
		<h2>นักแสดง</h2>
</div> -->

<!-- <div class="movie-spece-1"></div>

<div class="movie-youtube">
	<h2>ตัวอย่างหนัง</h2>
	<div style="height: 40px;"></div>
	<iframe id="youtube_frame" src="{{ movie_data.youtube_url }}" frameborder="0" allowfullscreen style="display: block; width: 855px; height: 510px; margin: 0 auto; border: 0;"></iframe>
	<script>
		{% if not movie_data.youtube_url %}
			$.getJSON( "/trailer?movie_id={{ movie_data.id }}", function(data) { 
				var youtube_link = "//www.youtube.com/embed/"+data['videoId'];
				$("#youtube_frame").get(0).contentWindow.location.replace(youtube_link);
				document.getElementById("youtube_frame").onload = function() {
						$("#youtube_frame").show();
				};
			});
		{% else %}
			$("#youtube_frame").show();
		{% endif %}
	</script>
</div>  -->

<div style="height: 80px;"></div>

<!-- end bg -->
</div> 

<div class="movie-comment">
	
	<div class="movie-box-comment-title"><h2>ความคิดเห็น</h2></div>
	<!-- margin-top:20px; display:block; -->
	<div class="movie-box-comment">
		<form id="form-comment" action="javascript:submitComment();" method="post">

		<div class="movie-box-comment-emotion-avatar">
			<script type="text/javascript">

  				function clickAddAvatar(id)	
  				{
    		 		$('#img_avatar').attr("src", "/images/details/avatar/image_avatar"+id+".png");
    		 		$('#img_avatar').attr("alt", id);
  				}
			</script>



			<div style="width:860px; height:54px; overflow:auto;">
				<a href="javascript:;" title="โหด มันส์ สะใจ" id="1" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar1.png" alt="1" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="กาก เสียดายตัง" id="2" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar2.png" alt="2" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="น่ากลัวสยอง" id="3" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar3.png" alt="3" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="แนวสัด" id="4" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar4.png" alt="4" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="สนุกตื่นเต้น" id="5" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar5.png" alt="5" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="น่าเบื่อจะหลับ" id="6" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar6.png" alt="6" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="ตลกฮากระจาย" id="7" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar7.png" alt="7" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="อลังการงานสร้าง" id="8" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar8.png" alt="8" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="sexy สวย หล่อ น่าหลงไหล" id="9" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar9.png" alt="9" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="เฉยๆ พอใช้ได้ ดูฆ่าเวลา" id="10" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar10.png"alt="10" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="เนื้อเรื่องดี ให้แง่คิด" id="11" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar11.png"alt="11" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="งง ดูไม่รู้เรื่อง" id="12" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar12.png"alt="12" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="น่ารักเหมาะกับเด็ก" id="13" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar13.png"alt="13" width="57.5" height="57.5" border="0"></a>
				<a href="javascript:;" title="ซึ้งกินใจ" id="14" onClick="clickAddAvatar(this.id)"><img src="/images/details/avatar/image_avatar14.png"alt="14" width="57.5" height="57.5" border="0"></a>

			</div>
		</div>

		<div style="height: 10px;"></div>


		<div class="movie-box-comment-left">

			<img id="img_avatar" width="60" height="60" src="/images/details/avatar.png" />


			<!-- <img id="img_avatar" src="/images/details/avatar.png" href='javascript:uploadContactImage()' /> -->
			<!-- <a class="btn-post" type="submit" href="javascript:submitComment()" ></a> -->

<!-- 			<select name="emotion_review" size="4" id="avatar_review_id" >
			<option value="1" selected="selected">อารม1</option>
			<option value="2">อารม2</option>
			<option value="3">อารม3</option>
			<option value="4">อารม4</option>
			<option value="5">อารม5</option>
			<option value="6">อารม6</option>
			<option value="7">อารม7</option>
			<option value="8">อารม8</option>
			<option value="9">อารม9</option>
			<option value="10">อารม10</option>
			<option value="11">อารม11</option>
			<option value="12">อารม12</option>
			</select> -->



				<a href="javascript:;" id=":emo1_01:" onClick="clickAddEmo(this.id)"><img src="/images/details/emotion/angry.gif" width="20" height="20" border="0"></a>
				<a href="javascript:;" id=":emo1_02:" onClick="clickAddEmo(this.id)"><img src="/images/details/emotion/cry.gif" width="20" height="20" border="0"></a>
				<a href="javascript:;" id=":emo1_03:" onClick="clickAddEmo(this.id)"><img src="/images/details/emotion/huh.gif" width="20" height="20" border="0"></a>
				<a href="javascript:;" id=":emo1_04:" onClick="clickAddEmo(this.id)"><img src="/images/details/emotion/wink.gif" width="20" height="20" border="0"></a>
		
		</div>


		<div class="movie-box-comment-right">
			<div class="movie-box-comment-right-top">
				<img id="img_icon_msg" src="/images/details/icon_msg.png" />
				<div class="movie-box-comment-right-bg">
				<!--<script type="text/javascript" src="/textedit/nicEdit/nicEdit.js"></script>
    			<script type="text/javascript">bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
				</script>-->
				<!--<script type="text/javascript">

				// var el = document.activeElement;

				// if (el && (el.tagName.toLowerCase() == 'input' && el.type == 'text' || el.tagName.toLowerCase() == 'textarea')) {
				// 	alert('acive!!!')
  		// 			// focused element is a text input or textarea
				// } 

				$('input[type="text"]').focus(function() {
   					alert('Focused');
				});
				</script>-->


				<textarea id="comment_content" name="content" onClick="checkActiveTextarea()"></textarea> 
				<!-- area3 -->
				</div>
			</div>

			<div class="movie-box-comment-right-down">
				<script type="text/javascript">
					function checkActiveTextarea(){;
						$("#movie-box-comment-captcha").show();
					}
				</script>

				<div id="movie-box-comment-captcha" style="display:none;">
					{% autoescape false %}
 					<script type="text/javascript">var RecaptchaOptions = {theme : 'clean'};</script>
					{{ captchahtml }}
					{% endautoescape %}
				</div>
				<div class="movie-box-comment-name-right-bg">
					<input id="comment_author" name="author" placeholder="name"</input>
				</div>
				<a class="btn-post" type="submit" href="javascript:submitComment()" >Post</a>
			</div>
		</div>
		</form>
	</div>
</div>



  

	
<div id="comments-template">
	{% for comment in comments %}
	<div style="height:10px;"></div>
	<div class="comments-template-box">
		<div class="comments-template-left">
			<!-- <img id="img_avatar" src="/images/details/avatar.png" /> -->
			<!-- <img alt="" src="/images/details/avatar.png" id="img_avatar" /> -->

			<!-- <img id="img_avatar" src="/images/details/avatar-emotion{{comment.avatar_review_id}}.png" /> -->
			<img id="img_avatar" width="60" height="60" src="/images/details/avatar/image_avatar{{comment.avatar_review_id}}.png" />
			<div class="comments-template-name">{{ comment.author|decodeHTML }}</div>
		</div>
		<div class="comments-template-right">
			<div class="comments-template-count-comment">ความคิดเห็นที่ {{(movie_data.comment_count - loop.index)+1 }}</div>
			<div class="comments-template-date-and-time">{{ (comment.date | datetime_lctimezone_format).strftime("%B %d, %Y") }} : {{ (comment.date | datetime_lctimezone_format).strftime("%H:%M") }}น.</div>
			<div class="comments-template-content">{{ comment.content|decodeHTML }}</div>
		</div>
	</div>




<!-- 	<center>
	<table width="900" border="1" cellpadding="0" cellspacing="5" bordercolor="#333333">
	<br/><br/>
    <div>ข้อความ: {{ comment.content|decodeHTML }}</div>
    <div>ชื่อ: {{ comment.author|decodeHTML }}</div>
    <div>วันที่: {{ (comment.date | datetime_lctimezone_format).strftime("%B %d, %Y") }} เวลา: {{ (comment.date | datetime_lctimezone_format).strftime("%H:%M") }}</div>
	<br/><br/>
    </table>
    </center> -->
	{% endfor %}



</div>
<div class="comments-template-box-footer"></div>




		<!-- <form action="javascript:submitComment();" method="post">
		<center> -->
	    <!-- <textarea id="comment_content" name="content" style="width:450px; height:100px;"></textarea> -->
    	<!-- <br> -->
    	<!-- <input id="comment_author" name="author" placeholder="name" style="width:450px" rows="1" cols="60"></input> -->


<!-- {% autoescape false %}
 		<script type="text/javascript">var RecaptchaOptions = {theme : 'clean'};</script>
		{{ captchahtml }}
{% endautoescape %} -->

<!-- 
    	<input type="submit" value="Comment" style="clear:both;"></div>
    	</center>
    	</form> -->



<!-- <div id="comments" style="background-color: #323232; width: 1200px; margin: auto;"> -->
	<!-- <div><center><font size="20"><b>comment</b></font></center></div> -->
	<!-- {% for comment in comments %} -->
<!-- 	<center>
	<table width="900" border="1" cellpadding="0" cellspacing="5" bordercolor="#333333">
	<br/><br/>
    <div>ข้อความ: {{ comment.content|decodeHTML }}</div>
    <div>ชื่อ: {{ comment.author|decodeHTML }}</div>
    <div>วันที่: {{ (comment.date | datetime_lctimezone_format).strftime("%B %d, %Y") }} เวลา: {{ (comment.date | datetime_lctimezone_format).strftime("%H:%M") }}</div>
	<br/><br/>
    </table>
    </center> -->
	<!-- {% endfor %} -->
<!-- </div> -->





<script>

	function submitComment() {
		// var nicE = new nicEditors.findEditor('comment_content');
		// var content = nicE.getContent();
		var content = $("#comment_content").val();
     	// alert(content);

 		// var avatar_review_id = document.getElementById('avatar_review_id').value; 
 		var avatar_review_id = document.getElementById('img_avatar').alt;
     	// alert(avatar_review_id);
		var author = $("#comment_author").val();
		var recaptcha_challenge_field = $('[name="recaptcha_challenge_field"]').val();
		var recaptcha_response_field = $('[name="recaptcha_response_field"]').val();
		// alert(content);

		var postData = {'movie_id':{{ movie_data.id }},
		 				'author':author,
		  				'content':content,
		  				'avatar_review_id':avatar_review_id,
		  				'recaptcha_challenge_field':recaptcha_challenge_field,
		  				'recaptcha_response_field':recaptcha_response_field,
		  				};
		$.getJSON("/api_add_comment", postData, function(data) {
			// alert(data);

			if(data['success'] == 1){
				// TODO clear text all
				$('#comment_content').val("");				
				// nicE.setContent('');

				Recaptcha.reload();
				// $('#doc_title').val("");
				// $('#doc_title').val("");

			 	setTimeout(updateComments,100);
			}else
			 	alert("The CAPTCHA you entered is invalid. Please try again");
		});

	}

	function updateComments() {
		$.getJSON("/api_get_comment", {'movie_id':{{ movie_data.id }}}, function(data) {
			// alert(data['data']);

			var clist = data['data'];
			var h = '';
			for (var i = 0; i < clist.length; i++) {
				var c = clist[i];
		    	var author = c['author'];
		    	var content = c['content'];
		    	var date = c['date'];
		    	var time_crate = c['time_crate'];
		    	var avatar_review_id = c['avatar_review_id'];
		    	// h += '<center>';
		    	// h += '<table width="900" border="1" cellpadding="0" cellspacing="5" bordercolor="#333333">';
		    	// h += '<br/><br/>';
		    	// h += '<div>ข้อความ:'+content+'</div>';
		    	// h += '<div>ชื่อ:'+author+'</div>';
		    	// h += '<div>วันที่:'+date+' เวลา:'+time_crate+'</div>';
		    	// h += '<br/><br/>';
		    	// h += '</table>';
		    	// h += '</center>';
		    	var count_index = (clist.length)-i;
		    		
				h += '<div style="height:10px;"></div>';
		    	h += '<div class="comments-template-box">';
		    		h += '<div class="comments-template-left">'; 
		    			if (avatar_review_id != 0) {
			    			h += '<img id="img_avatar" width="60" height="60" src="/images/details/avatar/image_avatar'+avatar_review_id+'.png" />';
			    			// h += '<img id="img_avatar" src="/images/details/avatar-emotion'+avatar_review_id+'.png" />';
		    			}else {h += '<img id="img_avatar" src="/images/details/avatar.png" />';};
		    			h += '<div class="comments-template-name">'+author+'</div>';
		    		h += '</div>';
		    		h += '<div class="comments-template-right">';		
						h += '<div class="comments-template-count-comment">ความคิดเห็นที่ '+count_index+'</div>';
		    			h += '<div class="comments-template-date-and-time">'+date+':'+time_crate+'น.</div>';
		    			
						// now = new Date(); 
						// now = date;
						// alert(date)

						// var thmonth = new Array ("มกราคม","กุมภาพันธ์","มีนาคม",
						// "เมษายน","พฤษภาคม","มิถุนายน", "กรกฎาคม","สิงหาคม","กันยายน",
						// "ตุลาคม","พฤศจิกายน","ธันวาคม");

						// alert(thmonth[now.getMonth())

						// var datethai = document.write(now.getDate()+ " " + thmonth[now.getMonth()]+ " " + (0+now.getYear()+543));
		    			// h += '<div class="comments-template-date-and-time">'+thmonth[now.getMonth()+':'+time_crate+'น.</div>';

		    			h += '<div class="comments-template-content">'+content+'</div>';
		    		h += '</div>';
		    	h += '</div>';


			}
			
			$('#comments-template').html(h);

			// $('#comments').html(h);
		});
	}

	function clickAddEmo(id)	
	{
		var content = $("#comment_content").val();
		// var path_emo = '<img src="/images/details/emotion/'+id+'" border="0">'
		$('#comment_content').val(content+id);
	}


</script>

{% include "/main_footer.html" with context %}

</body>

</html>
{% endautoescape %}