.carousel_div {
    text-align: center;
}

.btn_carousel_div {
	display: inline-block;
}

#page_btn_div {
	display: inline-block;
}

#all_page_link {
	background-color: #ffb400;
} 

#comingsoon_all_page_link {
	background-color: #ffb400;
}

.btn_carousel {
	line-height: 24px;
	background-color: #ffb400;
	color: #323232;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
	padding-left: 11px;
	padding-right: 11px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.btn_carousel:hover {
	background-color: #cc4d4d;
	text-decoration: none;
	color: #403232;
}

.btn_carousel_select {
	line-height: 24px;
	background-color: #cc4d4d;
	color: #323232;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
	padding-left: 11px;
	padding-right: 11px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.btn_carousel_select:hover {
	text-decoration: none;
	color: #323232;
}


.btn_carousel_disable {
	line-height: 24px;
	background-color: #9F7000;
	color: #FFB400;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
	padding-left: 11px;
	padding-right: 11px;
	margin-left: 2.5px;
	margin-right: 2.5px;
}

.btn_carousel_disable:hover {
	background-color: #9F7000;
	text-decoration: none;
	color: #FFB400;
}