#dialog-overlay {

	/* set it to fill the whil screen */
	width:100%; 
	height:100%;
	
	/* transparency for different browsers */
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5; 
	background:#000; 

	/* make sure it appear behind the dialog box but above everything else */
	position:absolute; 
	top:0; left:0; 
	z-index:3000; 

	/* hide it by default */
	/*display:none;*/
	/*display: block;*/
}

#dialog-box {
	
	/* css3 drop shadow */
	-webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	
	/* css3 border radius */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	
	background:#eee;
	/* styling of the dialog box, i have a fixed dimension for this demo */ 
	/*width:328px; */
	
	/* make sure it has the highest z-index */
	/*position:absolute; */
	position: fixed !important;
	z-index:5000; 

	/* hide it by default */
	/*display:none;*/
}

#dialog-box .dialog-content {
	/* style the content */
	text-align:left;
	padding-left:10px;
	padding-right:10px;
	/*padding:10px; */
	margin-left:13px;
	margin-right:13px;
	color:#666; 
	font-family:arial;
	font-size:11px; 
}

.hyper_link_no_underline {
	text-decoration: none;
	color: #0000FF;
}

#close_this_window {
	float: right;
	margin-top: 10px;
}

#login_dialog_caption {
	clear: both;
	margin-top:13px;
	font-size: 13pt;
	height: 35px;
}

#create_account_caption {
	font-size: 11pt;
}

#create_account_sub_caption {
	font-size: 9pt;
}

#register_content_div {
	margin-top: 10px;
}

.login_input_wrapper {
	margin-top: 10px;
}

.login_dialog_title {
	font-size: 11px;
}

.login_dialog_input {
	width: 130px;
	height: 13px;
	margin-top: 3px;
}

#register_privacy_caption {
	margin-top: 25px;
	font-size: 12pt;
}

#privacy_choice {
	width: 90%;
	list-style: inside; 
	padding-top: 5px;
}

#privacy_choice li {
	font-size: 9pt;
}

#register_div {
	margin-right: 371px;
}

#login_div {
	width: 371px;
	float: right;
}

#register_right_div {
	width: 248px;
	float: right;
	margin-top: 40px;
}

#register_left_div {
	margin-right: 248px;
}

#login_right_div {
	float: right;
	width: 248px;
}

#login_left_div {
	margin-right: 248px;
}

#vertical_line {
	margin: auto;
	background-color: #eee;
	width: 2px;
	height: 260px;
}

#register_loading {
	display: none;
}

#login_loading {
	display: none;	
}

a.button {
	/* styles for button */
	margin:10px auto 0 auto;
	text-align:center;
	display: block;
	width:50px;
	padding: 5px 10px 6px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	
	/* button color */
	background-color: #e33100;
	
	/* css3 implementation :) */
	/* rounded corner */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	
	/* drop shadow */
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	
	/* text shaow */
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	
}

a.button:hover {
	background-color: #c33100;	
}

/* extra styling */
#dialog-box .dialog-content p {
	font-weight:700; margin:0;
}

#dialog-box .dialog-content ul {
	margin:10px 0 10px 20px; 
	padding:0; 
	height:50px;
}

input:not([type]), input[type="text"], input[type="password"] {
	height: 20px;
}
