#header_div {
	margin: auto;
	width: 1200px;
	height: 120px;
	background-color: #cc4d4d;
}

#nav_div {
	margin: auto;
	width: 1200px;
	height: 70px;
	background-color: #323232;
}

#img_header_logo {
	margin: 0;
	padding: 0;
	float: left;
	margin-top: 23px;
	margin-bottom: 23px;
	margin-left: 130px;
}

#search_div {
	float: right;
	width: 262px;
	height: 40px;
	margin-top: 40px;
	margin-right: 52px;
	background-color: #b43c3c;
}

ul {
	list-style-type: none;
	height: 70px;
	width: 760px;
	margin: auto;
}

li {
	float: left;
}

li a {
	padding-right: 19px;
	padding-left: 19px;
	display: block;
	line-height: 40px;
	text-decoration: none;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	color: #FFFFFF;
	margin: 15px;
	font-family: montRegular;		
}

li a:hover {
	background: #5b5b5b;
}

.active {
	/*color: #cc4d4d;*/
	background: #5b5b5b;
}
.round-corner {
	-webkit-border-radius: 5px 5px 5px 5px; 
	-moz-border-radius: 5px 5px 5px 5px;
	-o-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}

#search_input {
	float: left;
	margin-left: 20px;
	margin-top: 7px;
	background-color: rgba(0,0,0,0.0);
	color: #ffffff;
	border: none;
	width: 206px;
	height: 24px;
	font-size: 16px;
	outline: 0;
	font-family: montRegular;
}

#img_search {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #f6ebeb;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #f6ebeb;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #f6ebeb;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #f6ebeb;
}

/*auto-complete*/

/*.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
	background: #4a4a4a;
}

.ui-autocomplete {
    background: #4a4a4a;
    border-radius: 0px;
    width: 206px; 
    height: auto;
    display: block;
}

.ui-menu .ui-menu-item a{
    color: #ffffff;
    border-radius: 0px;
}*/

.typeahead, .tt-hint {
/*border: 2px solid #CCCCCC;
border-radius: 8px 8px 8px 8px;
font-size: 24px;
height: 45px;
line-height: 30px;
outline: medium none;
padding: 8px 12px;
width: 400px;*/
display: none;
}


/*<span class="tt-dropdown-menu">
  {{#datasets}}
    <div class="tt-dataset-{{name}}">
      {{{header}}}
      <span class="tt-suggestions">
        {{#suggestions}}
          <div class="tt-suggestion">{{{suggestion}}}</div>
        {{/suggestions}}
        {{^suggestions}}
          {{{empty}}}
        {{/suggestions}}
      </span>
      {{{footer}}}
    </div>
  {{/datasets}}
</span>*/

.tt-dropdown-menu {
	width: 262px;
	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	font-size: 16px;
	background-color: #4a4a4a;
	-webkit-border-radius: 8px 8px 8px 8px; 
	-moz-border-radius: 8px 8px 8px 8px;
	-o-border-radius: 8px 8px 8px 8px;
	border-radius: 8px 8px 8px 8px;
	font-family: montRegular;
	color: #ffffff;
}

.tt-suggestion  {
 	color: #ffffff;
}

.tt-suggestion:hover {
	color: #cc4d4d;
}

/*auto-complete*/

#username_div {
	margin: auto;
	width: 1200px;
	background-color: #323232;
	text-align: right;
	padding-bottom: 10px;
	height: 20px;
}

.username_inner_div {
	margin-right: 15px;
}

/*#login_div {
	display: none;
}

#username_div {
	display: none;
}*/

#username_label {
	color: #ffffff;
	font-size: 12px;
	font-family: montRegular;
	margin-right: 10px;
}


