#main_body_div {
	margin: auto;
	width: 1200px;
}

#youtube_div {
	height: 630px;
	background-color: #ecedef;
}

#feature_youtube_frame {
	width: 854px;
	height: 510px;
	margin-top: 60px;
	margin-bottom: 60px;
	margin-left: 173px;
	margin-right: 173px;
}

#nowshowing_div {
	height: 972px;
	background-color: #323232;
}

.main_page_caption {
	font-size: 30pt;
	text-align: center;
	font-family: montRegular;
	color: #ffb400;
}

#comingsoon_caption {
	line-height: 109px;
}

#nowshowing_caption {
	line-height: 98px;
}

#nowshowing_wraper_div {
	height: 806px;
	width: 892px;
	margin: auto;
}

#nowshowing_wraper {
	height: 100%;
	width: 100%;
}

.poster_div {
    float:left;
    margin-left:42px;
    margin-right:-4px;
}

.poster_div_with_top_margin {
    float:left;
    margin-left:42px;
    margin-right:-4px;
    margin-top: 26px;
}

.poster_title a {
	color: #FFFFFF;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
}

.calusel_div {
    text-align: center;
}

.btn_calusel_div {
	display: inline-block;
}

#page_btn_div {
	display: inline-block;
}

#all_page_link {
	background-color: #ffb400;
} 

#comingsoon_all_page_link {
	background-color: #ffb400;
}


#comingsoon_div {
	width: 1200px;
	height: 690px;
	margin: auto;
	background-color: #ecedef;
	padding-top: 35px;
	padding-bottom: 35px;
}

#inner_comingsoon_div {
	width: 900px;
	height: 690px;
	margin: auto;
	background-color: white;
}

#comingsoon_wraper_div {
	width: 892px;
	height: 538px;
	margin: auto;
}

#comingsoon_wraper {
	width: 100%;
	height: 100%;
}

.comingsoon_poster_title {
	width: 132px;
	height: 41px;
	text-align: center;
}

.comingsoon_poster_title a {
	color: #2f3840;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
}

#comingsoon_page_btn_div {
	display: inline-block;
}

