#main_body_div {
	margin: auto;
	width: 1200px;
}

#youtube_div {
	height: 630px;
	background-color: #ecedef;
}

#feature_youtube_frame {
	width: 854px;
	height: 450px;
	margin-top: 90px;
	margin-bottom: 90px;
	margin-left: 173px;
	margin-right: 173px;
	display: none;
}

#nowshowing_div {
	background-color: #323232;
	padding-bottom: 31px;
}

.main_page_caption {
	font-size: 30pt;
	font-family: montRegular;
	color: #ffb400;
}

#comingsoon_caption {
	line-height: 109px;
}

#nowshowing_caption {
	line-height: 98px;
	text-align: center;
}

#nowshowing_wraper_div {
	/*height: 806px;*/
	overflow: auto;
	/*width: 892px;*/
	margin: auto;
}

#nowshowing_wraper {
	/*height: 100%;*/
	width: 100%;
}

/*.carousel_div {
    text-align: center;
}

.btn_carousel_div {
	display: inline-block;
}

#page_btn_div {
	display: inline-block;
}

#all_page_link {
	background-color: #ffb400;
} 

#comingsoon_all_page_link {
	background-color: #ffb400;
}*/


#comingsoon_div {
	width: 1200px;
	height: 760px;
	margin: auto;
	padding-top: 35px;
	background-color: #ecedef;
}

#inner_comingsoon_div {
	width: 900px;
	height: 690px;
	margin:auto;
	background-color: white;
}

#comingsoon_wraper_div {
	width: 892px;
	height: 538px;
	margin: auto;
}

#comingsoon_wraper {
	width: 100%;
	height: 100%;
}









/* CommingSoon Poster */



.comingSoonImageDiv {
	position:relative;
	background-color: black;
}

.comingsoon_poster_image {
	width: 132px;
	height: 197px;
}

.comingSoonhilight {
	position:absolute;
    top:0;
    left:0;
    display:block;
    width:132px; /* as image */
    height:197px; /* as image */
    background-color: black;
	-webkit-opacity: 0.0;
  	-moz-opacity: 0.0;
  	opacity: 0.0;
    transition:opacity 0.5s ease;
}

.comingSoonA:hover .comingSoonhilight {
	-webkit-opacity: 0.4;
  	-moz-opacity: 0.4;
  	opacity: 0.4;
    transition:opacity 0.5s ease;
}


.comingsoon_poster_div {
    float:left;
    margin-left:38px;
}

.comingsoon_poster_div_with_top_margin {
    float:left; 
    margin-left:38px;
    margin-top: 26px;
}

.poster_title a {
	color: #FFFFFF;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
}

.comingsoon_poster_title {
	width: 132px;
	height: 41px;
	text-align: center;
	overflow:hidden;
	font-size: 14px;
	text-overflow:ellipsis;

	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;


}

.comingsoon_poster_title a {
	color: #2f3840;
	font-size: 14px;
	font-family: montRegular;
	text-decoration: none;
}

#comingsoon_page_btn_div {
	display: inline-block;
}

