#movie_listview_content {
	margin: auto;
	width: 920px;
	clear:both;
}

#movie_listview_detail_div {
	width:870px;
	float: right;
}

#movie_listview_vote_div {
	margin-right: 870px;
	height: 100%;
}

#vote_div {
	margin-top: 25px;
	display: inline-block;;
	margin: auto;
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid gray;
}

.arrow-up:hover {
	border-bottom: 15px solid lightgray;	
}

.arrow-up-selected {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-bottom: 15px solid #cc4d4d;
}

.arrow-up-selected:hover {
	border-bottom: 15px solid #fc4d4d;	
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-top: 15px solid gray;
}

.arrow-down:hover {
	border-top: 15px solid lightgray;	
}

.arrow-down-selected {
	width: 0; 
	height: 0; 
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	
	border-top: 15px solid #cc4d4d;
}

.arrow-down-selected:hover {
	border-top: 15px solid #fc4d4d;	
}

.vote_count {
	font-size: 18pt;
	text-align: center;
	font-family: montRegular;
	color: #ffffff;
	margin-top: 10px;
	margin-bottom: 10px;
}

#movie_listview_img_div {
	margin-right: 720x;
}


#movie_listview_right_img_div {
	float: right;
	width: 720px;
}

#movie_listview_detia_left {
	margin-right: 329px;
}

#movie_listview_detia_right {
	float: right;
	width: 329px;
}

.poster_image {
	width:142px;
	height: 210px;
}

#movie_listview_movie_name {
	font-size: 16pt;
	text-align: center;
	font-family: montRegular;
	color: #ffffff;
	text-align: left;
}

.pink {
	color: #e01667;
	font-size: 20px;
}

.star_small {
	font-size: 16px;
}
