
body {
	background-color: #ecedef; }
.movie-title-image {
	margin: 0 auto;
/*    	width:900px; 
	height:450px;*/
}
.movie-image {
	margin: 0 auto;
	width:288px; 
	height:450px; 
	float:left;
}
.movie-title {
	margin: 0 auto;
	width:550px; 
	height:60px; 
	float:right; 
	color:#666666; 
	font-size:50px;
   font-family: montRegular;
}
.movie-date {
	margin: 0 auto;
	width:550px; 
	height:24px; 
	float:right; 
	color:#cc4d4d; 
	font-size:18px;
   font-family: montRegular;
}
.movie-synopsis-line {
	width:550px; 
	height:35px; 
	float:right;
}
.movie-synopsis-en {
	margin: 0 auto;
	width:550px; 
	float:right; 
	color:#666666;
   font-family: montRegular;
}
.movie-director-writers-stars {
   margin-top: 20px;
   width:550px; 
   float:right; 
   color:#666666;
   /*clear:both;*/
   font-family: montRegular;
}

.movie-synopsis-th {
	margin: 0 auto;
	width:860px; 
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
   clear:both;
}
.movie-artiste {
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	width:860px;
	height:270px; 
}
.movie-youtube {
	/*text-align:center;*/
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 20px 20px 20px 20px;
	border-radius: 10px;
	width:860px;
	height:400px; 
}

/*coment*/

.movie-comment {
/*   margin: 0 auto;
   width: 1200px;
   height:400px; 
   background-color: #323232;*/
   background-color: #323232;
   display: block;
   height: 400px;
   margin: 0 auto;
   overflow: hidden;
   width: 1200px;
}
.movie-box-comment {
   margin: 0 auto;
   width:820px; 
   height:220px; 
   background-color: #FFFFFF;
   padding: 20px 20px 20px 20px;
   border-radius: 10px;
   clear:both;
}
.movie-box-comment-left {
   width:78px;
   float:left; 
}
.movie-box-comment-right > img {
   position: relative;
   top: 25px;
   float: left;
}

.movie-box-comment-right {
   float: left;
   width: 740px;
}

.movie-box-comment-right-bg {
   background-color: #d0d0d0;
   width:730px;
   height:110px; 
   float:left;
}

.movie-box-comment-captcha {
   top: 25px;
   width:442px;
   height:103px; 
   float:left;
}

.movie-box-comment-name-right-bg {
   background-color: #d0d0d0;
   width:160px;
   height:40px; 
   float:left;
}

.btn-post {
   background: none repeat scroll 0 0 #999999;
   border-radius: 10px;
   clear: both;
   color: #FFFFFF;
   display: block;
   float: right;
   text-decoration: none;
   height: 40px;
   width: 50px;
   padding-right: 25px;
   padding-left: 30px;
   line-height: 40px;
   text-decoration: none;
   font-size: 20px;
   color: #FFFFFF;
   margin-top: 10px;
   font-family: montRegular;
}


#comment {
   margin: 0 auto;
   width: 1200px;
   background-color: #323232;
   clear:both;
}



/*spece*/
.movie-spece-0 {
	width:900px;
	height:60px;
}
.movie-spece-1 {
	width:900px;
	height:30px;
   clear:both;
}
.movie-spece-3 {
   margin: 0 auto;
   width:550px;
   height:30px;
   float:right; 
   /*clear:both;*/
}

/*h*/
h2 {
	margin: 0 auto;
	color:#cc4d4d; 
	font-size:18px;
}
h3 {
   margin-top: 20px;
   color:#FFFFFF; 
   font-size:18px;
}
















